@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Lato:wght@300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700&family=Nova+Cut&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

.main{
  background-color: #123E7D;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
}

.left-angle, .right-angle{
  width: 40px;
  height: 40px;
  margin: 200px 0px 0px 5px;
  cursor: pointer;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 40px;
}

.left-angle:hover, .right-angle:hover{
  background-color: #123E7D;
  border-radius: 0px;
  border: none;
  opacity: 0.5;

}

.right-angle{
  background-image: url(./img/angle-right-solid.svg);
  margin-right: 5px;
}

.left-angle{
  background-image: url(./img/angle-left-solid.svg);
}



.middle-content{
  text-align: center;
  margin-top: -200px;
  color: #fff;
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle-content > h2{
  font-size: 3rem;
}

.middle-content > p{
  font-size: 1.3rem;
  margin-top: -20px;
}

.search-holder{
  background-color: #fff;
  width: 800px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.input-search{
  display: flex;
  width: 690px;
  height: 90%;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
}

.input-search > input{
  width: 650px;
  height: 80%;
  font-size: 1.2rem;
  border: none;
  outline: none;
  margin-left: 5px;
}

.search-icon{
  background-image: url(./img/search-solid.svg);
  width: 20px;
  height: 20px;
}

.search-btn{
  width: 150px;
  height: 100%;
  background-color: #FEA250;
  outline: none;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  transition: all 350ms;
}

.search-btn:hover{
  color: black;
}

.post{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post-container{
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-container > h2{
  color: #123E7D;
  font-size: 2.5rem;
  font-weight: 500;
}

.jobs-col{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.job{
  background-color: #fff;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 10px 2px #26262763;
  border-radius: 10px;
}

.job-img1{
  background-image: url(./img/comapnyprofile_jtinkz.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 2px #26262763;
}

.job-img2{
  background-image: url(./img/lq6vibtubxzbwdlp0oqs.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 2px #26262763;
}

.job-img3{
  background-image: url(./img/kp4sgxynddjtqojynbki.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 2px #26262763;
}

.job-info > h3{
  color: #123E7D;
  font-size: 1.5rem;
}

.job-info > p{
  font-size: 1.5rem;
  margin-top: -25px;
}

.sub{
  display: flex;
  justify-content: space-between;
  width: 260px;
  align-items: center;
  margin-bottom: 18px;
}

.sub > p{
  color: #FEA250;
}

.job-info > span{
  margin-top: -100px;
}

.sub > button{
  width: 100px;
  height: 40px;
  background-color: #fea15056;
  color: #FEA250;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}

.below{
  margin-top: 50px;
}

.single-col{
  justify-content: center;
  align-items: center;
}